.home{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
    overflow: hidden;
}
.body{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
/* Styling for the grid and cards */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px; 
  }
    
  /* Styling for the carousel images */
  .carousel .slide img {
    width: 100%; /* Make images responsive within the carousel */
    height: 300px; /* Fill the entire height of the card */
    object-fit: fill; /* Fill the image within the carousel slide */
  }
  .description {
    max-height: 80px; /* Set a maximum height for the description */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  /* Typography styling for product details */
  .card-content {
    padding: 16px;
  }
  
  h6,
  .subtitle1,
  .body2 {
    margin-bottom: 8px;
  }
  .card:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.49); /* Apply box-shadow on hover */
    transform: translateY(-4px); /* Add a slight lift effect */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Smooth transition */
  }
  /* Add this CSS to your existing stylesheet */
.add-to-cart-button {
    background-color: #ff0084;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    float: right;
    z-index: 10;
    margin-top: -25px;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-to-cart-button:hover {
    background-color: #f57c00;
  }
  .search{
    padding: 10px ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: rgb(86, 88, 91);
  }
  .price-filter {
    color: rgb(255, 255, 255); /* Set text color to white */
  }

  @media (max-width: 600px) {
    .home {
      gap: 10px; /* Reduce gap between sections */
    }
  .search{
    margin-top: 25px;
    display: flex;
    padding: 10px;
    align-items: center;
  }
    .grid-container {
      padding: 8px; /* Adjust padding for smaller screens */
    }
.product-grid{
  padding: 25px;
}
    .card {
      width: 100%; /* Display two cards per row */
      margin-bottom: 16px; /* Spacing between cards */
    }
  }

